cartopy==0.25.0
certifi==2026.6.17
contourpy==1.3.3
cycler==0.12.1
fonttools==4.63.0
greenlet==3.5.3
kiwisolver==1.5.0
matplotlib==3.11.0
numpy==2.5.0
packaging==26.2
pillow==12.2.0
pyparsing==3.3.2
pyproj==3.7.2
pyshp==3.1.3
python-dateutil==2.9.0.post0
shapely==2.1.2
six==1.17.0
sqlalchemy==2.0.51
typing-extensions==4.15.0
